body{
    background-color: palegoldenrod;
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(red, green, blue, alpha);
    transition: all ease-in-out 0.5s;
    transition: 10s;
}
.container img :hover{
    width: 25%;
}